<h1>Jonbo</h1>

<p>I started out back in Colorado making mix tapes for the gym I was working at to inspire me during work outs. I eventually moved to Vegas to pursue my career as an acrobat, and during my time in vegas I quickly caught on to the underground sound of the town and was completely hooked on learning and performing as a dj. I've been blessed to spin at different events such as Burning man 2011, and Burning man Regionals (forgotten city, and Event Horizon) as well as several Twightlight desert gatherings. I had the opportunity to spin several events in Puerto Rico and Las vegas I’ve been doing my thing here for as much as 6 years. 

I’m well deverce on Cdj’s, controllers, Traktor, Serono scratch vynl, what ever as long as it sounds good and danceable, or completely thought provoking and desert themed, or a birthday party or a club, I’ve spun it all..


I like to work with dig gable cliental who have the same spirit for experiencing music as I do. I love to work mainly in House genres, yet I’ve spun everything under the sun as far as electronica based music is concerned and the sets I have for listening pleasure of gigs past and sets dropped, the range is wide open.
I started out back in Colorado making mix tapes for the gym place I was working to inspire me during work outs which eventually let me to become a performer in Las Vegas for Le Reve at the wynn hotel and casino as an acrobat.  during my time in vegas I quickly caught on to under ground sound of the town and was completely hooked on learning and performing as a dj.  My dj carrier as provided my ability to travel to different Music incarnations such as Burning man 2011, and Burning man Regionals (forgotten city, and Event Horizon) as well as several Twightlight desert gatherings. I had the opportunity to spin several events in Puerto Rico and Las vegas I’ve been doing my thing here for as much as 6 years. </p>
